.row.menurow
	.span5.offset1.well{:style=>'height:250px;'}
		%img{:src=>'http://redes2.dcsc.utfsm.cl/mrtg/CORE/shaper/campus_santiago_sj_labs_inf-bytes-day.png',:style=>'height:230px'}
	%a#ninja.span4.well{:href=>'/ninja',:style=>'height:200px;'}
		NINJA
	%iframe.span5.well.stealth{:src=>'http://www.nyan.cat',:style=>'height:250px;'}
.row.menurow
	.span1.offset1
	%a#sda.span4.well{:href=>'/sda',:style=>'height:250px;'}
		SDA
	%a#lpa.span4.well{:href=>'/lpa',:style=>'height:250px;'}
		LPA
	%a#lds.span4.well{:href=>'/lds',:style=>'height:250px;'}
		LDS
.row.menurow
	.span1.offset1
	.span4.offset2.well.stealth{:style=>'height:200px;'}
	%a#tasks.span4.well{:href=>'/tasks',:style=>'height:250px;'}
		TASKS
	.span5.well{:style=>'height:250px;'}
		PRIMOS DE TURNO:</br>
		=@pdts
