.row.menurow
	.span2.offset1.well.stealth
	%a#ninja.span2.offset1.well{:href=>'/ninja'}
		NINJA
	.span2.offset1.well.stealth
.row.menurow
	%a#sda.span2.offset1.well{:href=>'/sda'}
		SDA
	%a#lpa.span2.offset1.well{:href=>'/lpa'}
		LPA
	%a#lds.span2.offset1.well{:href=>'/lds'}
		LDS
.row.menurow
	.span2.offset1.well.stealth
	%a#tasks.span2.offset1.well{:href=>'/tasks'}
		TASKS
	.span2.offset1.well.stealth



