%table.centered
	%tr
		%td
		%td
			%a#ninja.well.well2{:href=>'/ninja'} NINJA
		%td
	%tr
		%td 
			%a#sda.well.well2{:href=>'/sda'} SDA
		%td 
			%a#lpa.well.well2{:href=>'/lpa'} LPA
		%td 
			%a#lds.well.well2{:href=>'/lds'} LDS
	%tr
		%td
		%td
			%a#tasks.well.well2{:href=>'/tasks'} TASKS
		%td
