.row.menurow
.row.menurow
	#cam1.span3.offset1.well(camara_id="1")
		%img(src="" id="camera1" style="height:200px;")
	#cam2.span3.offset2.well(camara_id="2")
		%img(src="" id="camera2" style="height:200px;")
	#cam3.span3.offset2.well(camara_id="3")
		%img(src="" id="camera3" style="height:200px;")

#modalcam1.modal.fade.hide.modalcam
	.modal-header
		%h3="Camara 1"
	.modal-body
		%img(src="" id="modcamera1" style="height:800px;")
#modalcam2.modal.fade.hide.modalcam
	.modal-header
		%h3="Camara 2"
	.modal-body
		%img(src="" id="modcamera2" style="height:800px;")
#modalcam3.modal.fade.hide.modalcam
	.modal-header
		%h3="Camara 1"
	.modal-body
		%img(src="" id="modcamera3" style="height:800px;")