%table#tareas.table
	%tr
		%th ID
		%th ÚLTIMA ACTUALIZACIÓN
		%th TAREA
		%th %COMPLETADO
	-@lista.each do |issue|
		%tr(issue="#{issue['id']}")
			%td=issue['id']
			%td=time_ago_in_words(issue['updated_on']) 
			%td=issue['subject']
			%td
				.progress.progress-striped.active
					.bar(style="width: #{issue['done_ratio'].to_s+"%"};")

-@lista.each do |issue|
	.modal.fade.hide(id="modal#{issue['id']}")
		.modal-header
			%h3="Tarea: "+ issue['id'].to_s
		.modal-body
			%pre=issue['description']
		.modal-footer
			%table.table-condensed
				-issue['journals'].each do |journal|
					-unless journal['notes']==""
						%tr
							%td="("+time_ago_in_words(journal['created_on'])+")"
							%td=journal['user']['name']+":"
							%td=journal['notes']